.wrapper {
    display: flex;
    align-items: center; //căn giữa
    padding: 6px 16px;
    cursor: pointer;
    &:hover {
    }
}

.info {
    flex: 1;
    margin-left: 12px;
}
.title {
    font-size: 1.4rem;
    font-weight: 600;
}

