.wrapper {
   width: 200px;
  overflow-y: auto;
  overscroll-behavior-y: none;
   height:480px;
   overflow-anchor:initial;
   position: fixed;
 
}
    ::-webkit-scrollbar {
    width: 8px;
    z-index: 200;
   }
    ::-webkit-scrollbar-thumb {
        border-radius: 100rem;
        
   }
   ::-webkit-scrollbar-track{
    background-color: #ccc;
   }



@media (prefers-reduced-motion:reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.list-item{
    display: flex;
    
}
.all-category {
    display: flex;
}

.icon-list {
    margin: 20px;
}
